<h6>Retrieve Password</h6>
<form id="retrieve">

	{% csrf_token %}

	{% if form.non_field_errors %}
		<div class="alert alert-error">
		{% for e in form.non_field_errors %}
			{{e}}
		{% endfor %}
		</div>
	{% endif %}

	<div class="control-group">
		{% if form.username.errors %}
			<div class="alert alert-error">
			{% for e in form.username.errors %}
				{{e}}
			{% endfor %}
			</div>
		{% endif %}
		<label class="control-label" for="id_username">Enter your Username</label>
		{{ form.username }}
	</div>

	{% if form.success %}
	<div class="alert alert-success">
		A password reset link has been emailed to you. 
	</div>
	{% endif %}


</form>