<h6>Reset Password</h6>
<form id="reset">

	{% csrf_token %}

	{% if form.non_field_errors %}
		<div class="alert alert-error">
		{% for e in form.non_field_errors %}
			{{e}}
		{% endfor %}
		</div>
	{% endif %}

	<div class="control-group">
		{% if form.password.errors %}
			<div class="alert alert-error">
			{% for e in form.password.errors %}
				{{e}}
			{% endfor %}
			</div>
		{% endif %}
		<label class="control-label" for="id_password">Enter a new Password</label>
		{{ form.password }}
	</div>

	<div class="control-group">
		{% if form.password2.errors %}
			<div class="alert alert-error">
			{% for e in form.password2.errors %}
				{{e}}
			{% endfor %}
			</div>
		{% endif %}
		<label class="control-label" for="id_password2">Confirm</label>
		{{ form.password2 }}
	</div>

	{% if form.success %}
	<div class="alert alert-success">
		Your new password has been saved. Log in <a href="/#logreg">here</a>
	</div>
	{% endif %}


</form>