<script id="person-view" type="text/html">
	<div class="person-view">
		<div class="row-fluid">
			<h3><%= /([^ ]+)/.exec(name)[0] %></h3>
			<h6>(Username: <%= username? username : 'No Username' %>)
			<div class="divider"></div>
			<div class="row-fluid">
				<div class="well">
				<a href="#logreg">You need to log in to see this person's contact information and full name</a>
				</div>
			</div>
			<h6>Favorite Beer: <%= beer.length > 4 ? beer : 'None' %> </h6>
		</div>
		<div class="row-fluid">
			<% if(ok_contact == 2) { %>
				<span class="label label-success">Contact me whenever</span>
			<% } else if(ok_contact == 1) { %>
				<span class="label label-info">Contact if you need help</span>
			<% } else if(ok_contact == 0) { %>
				<span class="label label-important">Contact only in an emergency</span>
			<% } %>
			<% if(verified) { %>
				<span class="label label-success">Verified</span>
			<% } else { %>
				<span class="label label-warning">Not Verified</span>
			<% } %>
		</div>
		<div class="divider"></div>

		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>I am able to help you with</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% for(s in services) { %>
					<tr>
						<td><%= services[s].name %></td>
						<td></td>
					</tr>

				<% } %>
				
			</tbody>
		</table>
	</div>
</script>