{% extends "core.html" %}

{% block title %}
	About Aircooled Folks
{% endblock %}


{% block home %}/{% endblock %}

{% block navs %}


{% endblock %}

{% block content %}
<div class="container full">
	<div class="row">
		<div class="span6">
			<h6>About Aircooled Rescue</h6>
			<p>
				Inspired by the <a href="http://www.type2.com/rescue/">old T2 rescue site</a>, the goal of this site is to bring the aircooled community closer together, especially when someone is SOL on the side of the highway.



			</p>
			<br>
			<br>
			<h6>Listings</h6>
			The initial listings were pulled from the old AIRS site. This site was last update in 2010, so they might be out of date. You can flag listings that are out of date and they will be removed.<br> 
			The old site listed contact info for all members. Here, you need to log in to see contact information. This reduces the likelihood of spam.
			</p>
			<br>
			<br>
			<h6>Contact</h6>
			You can contact me at aircooledrescue@gmail.com with any questions, concerns, requests, stories, etc. Hopefully this site helps some people out. 
		</div>
		<div class="span6">
			<div class="about-image">
				<img src="/static/img/oh_shit.jpg"/>
				<p class="caption">
					Because we've all been in this situation. Look closely. 
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}